* {
        margin:0px;
        padding:0px;
      }
      
      #chat
      {
        overflow: scroll;
        width:300;
        height:500px;
      }
      
      #user-msg-bar
      {
        margin:0;
        padding:0;
        top:0;
        min-height:15px;
        max-height:15px;
        background: white;
        width:240px;
        border: 1px solid blue;
        justify-content: center;
        outline-color: lightgray;
      }
      
      #chatbox
      {
        padding:0 0 0 0;
        max-width:300px;
        min-width:300px;
        max-height:300px;
        min-height:300px;
        overflow: scroll;
        color:blue;
        
      }
      
      #Send {
        border: none;
        background-color: lime;
        border-radius: 10%;
        text-align: center;
        width: 45px;
        height:23px;
        margin:center;
        margin-left: 5px;
      }
      
      #Send:hover {
        background: black;
        color: white;
      }
      
      #chatbox:-webkit-scrollbar {
        width:10px;
      }
      
      #chatbox::-webkits-scrollbar-track {
        background:gray;
      }
      
      #chatbox::-webkits-scrollbar-thumb {
        background:#f1f1f1;
      }
      
      #box {
        outline: #F1F1F1;
        background: white;
        border-color: white;
        border-radius: 20px;
        height:40px;
        text-align: center;
      }
      
      #chat {
        float: center;
      }